/* "Tamming" Box Model With Reset */

html {
  box-sizing: border-box;
  font-size: 18px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */


body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
  color: white;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (max-width: 470px) {
  h2 {
    font-size: 0.77rem;
    font-weight: bold;
    }

  h1 {
      font-size: 1rem;
      font-weight: bold;
      }

      h3 {
        margin-top: 0.5rem;
      }
  }


p {
  color: black;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header Styles */

header {
  background-color: black;
  color: #fff;
  text-transform: uppercase;
}


header img {
  height: 1.5rem;
  padding-right: 1rem;
}


header .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem 0.5rem;
}

/* Navigation Styles */

nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }
}

/* Main Banner Styles */

.hero-banner {
  background-image: url("../images/moto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100%;
}

@media only screen and (max-width: 470px) {
  .hero-banner {
    height: 15rem;
    }
  }

.content {
  background-color: black;
  width: 25rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

@media only screen and (max-width: 470px) {
  .content {
    padding: 1rem 0 1rem 2rem;
    width: 100%;
    top: 10rem;
    }
  }

/* Product Styles */

#featured {
  display: flex;
  justify-content: space-between;
}

.product {
  border: solid 4px black;
  width: 30%;
  margin: 3rem 0;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.product img {
  max-height: 9rem;
  margin: 2rem 0;
}

.product h3 {
  background-color: black;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 1024px) {
  .product.glasses {
    display: none;
  }

  .product {
    width: 47%;
  }
}

@media only screen and (max-width: 470px) {
  .product.watch {
    display: none;
  }

  .product {
    width: 90%;
  }

  #featured {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}


/* Contact Styles */

#contact {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 35%;
}

@media only screen and (max-width: 470px) {
  #contact {
    display: block;
    justify-content: center;
  }

  .info {
    width: 90%;
    margin: 0.5rem auto;
  }
}

.info h3 {
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

/* Footer Styles */

footer {
  background-color: black;
  padding: 5rem 0;
  margin-top: 4rem;
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
